<template>
  <!-- <MainTable :datasend="datauser" ></MainTable> -->
  <MainTable />
</template>
<script>
import Clear from "../../components/Clear.vue";
import MainTable from "../../components/MainTable.vue";
// import AddUser from '../../components/AddUser.vue';
export default {
  components: { Clear, MainTable },
  // components: { AddUser },
  data() {
    return {
      datauser: [
        {
          id: "0",
          userName: "Atip N.",
          nameUser: "Atip Nasakun",
          position: "Officer",
          work: "Growth Dev and it Support",
          update: "10/06/2564",
        },
        {
          id: "1",
          userName: "Atip1 N.",
          nameUser: "Atip1 Nasakun",
          position: "Officer",
          work: "WebDev",
          update: "10/06/2564",
        },
        {
          id: "2",
          userName: "Atip2 N.",
          nameUser: "Atip2 Nasakun",
          position: "Officer",
          work: "WebDev",
          update: "10/06/2564",
        },
        {
          id: "3",
          userName: "Atip3 N.",
          nameUser: "Atip3 Nasakun",
          position: "Officer",
          work: "WebDev",
          update: "10/06/2564",
        },
        {
          id: "4",
          userName: "Atip4 N.",
          nameUser: "Atip4 Nasakun",
          position: "Officer",
          work: "WebDev",
          update: "10/06/2564",
        },
      ],
    };
  },
  mounted() {
    console.log();
  },
  methods: {
    showData() {},
  },
};
</script>
<style>
.v-main__wrap {
  background-color: rgb(211, 47, 47);
}
</style>
