<template>
  <v-dialog v-model="dialog" persistent max-width="600px">
    <template v-slot:activator="{ on, attrs }">
      <v-btn color="red darken-2" dark v-bind="attrs" v-on="on">Add User</v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="text-h5" style="margin: 5px">เพิ่มสมาชิก</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12" sm="6" md="6">
              <v-text-field
                v-model="Temp.userName"
                label="Username"
                required
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="6" md="6">
              <v-text-field
                v-model="password"
                label="Password"
                required
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="6" md="12">
              <v-text-field
                v-model="Temp.nameUser"
                label="ชื่อ-นามสกุล"
                required
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="6" md="7">
              <v-select
                v-model="Temp.worked"
                :items="[
                  'Growth People',
                  'Growth Dev and it Support',
                  'Growth Assist',
                  'Growth Marketing',
                ]"
                label="แผนกงาน"
                required
              ></v-select>
            </v-col>

            <v-col cols="12" sm="5">
              <v-select
                v-model="Temp.position"
                :items="['Officer', 'CEO', 'Temporaly', 'Parttime']"
                label="ตำแหน่งงาน"
                required
              ></v-select>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer />

        <v-btn color="red darken-1" text @click="reset"> Close </v-btn>
        <v-btn color="red darken-1" text @click="save"> Add </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  data: () => ({
    dialog: false,
    Temp: {
      id: "",
      userName: "",
      nameUser: "",
      position: "",
      worked: "",
      update: "",
    },
    password: "",
  }),
  mounted() {},
  methods: {
    async save() {
      console.log(await this.Temp);
      this.reset();
      // await this.reset()
    },
    reset() {
      this.dialog = false;
      this.Temp.id = "";
      this.Temp.userName = "";
      this.Temp.nameUser = "";
      this.Temp.position = "";
      this.Temp.worked = "";
      this.Temp.update = "";
      this.password = "";
    },
  },
};
</script>
