<template>
  <v-data-table filterable :headers="headers" :items="data" :search="search">
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>ผู้ใช้งาน</v-toolbar-title>

        <v-spacer></v-spacer>
        <v-text-field
          style="margin-right: 10px"
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        />
        <AddUser />
        <v-dialog v-model="dialog" max-width="500px">
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      :value="editedItem.id"
                      disabled
                      label="Id"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.userName"
                      label="Username"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.nameUser"
                      label="ชื่อ-นามสกุล"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-select
                      v-model="editedItem.work"
                      :items="[
                        'Growth People',
                        'Growth Dev and it Support',
                        'Growth Assist',
                        'Growth Marketing',
                      ]"
                      label="แผนกงาน"
                      required
                    ></v-select>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.position"
                      label="ตำแหน่ง"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.update"
                      label="อัปเดตล่าสุด"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close"> Cancel </v-btn>
              <v-btn color="blue darken-1" text @click="save"> Save </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-w idth="500px">
          <v-card>
            <v-card-title class="text-h5"
              >Are you sure you want to delete this item?</v-card-title
            >
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete"
                >Cancel</v-btn
              >
              <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                >OK</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <v-dialog v-model="dialog" max-width="500px">
      <v-card>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  v-model="editedItem.id"
                  label="Dessert name"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  v-model="editedItem.userName"
                  label="Calories"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  v-model="editedItem.nameUser"
                  label="Fat (g)"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  v-model="editedItem.position"
                  label="Carbs (g)"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  v-model="editedItem.work"
                  label="Protein (g)"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  v-model="editedItem.update"
                  label="Protein (g)"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close"> Cancel </v-btn>
          <v-btn color="blue darken-1" text @click="save"> Save </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="text-h5"
          >Are you sure you want to delete this item?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
          <v-btn color="blue darken-1" text @click="deleteItemConfirm"
            >OK</v-btn
          >
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
      <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize"> Reset </v-btn>
    </template>
  </v-data-table>
</template>
<script>
export default {
  data() {
    return {
      search: "",
      dialog: false,
      dialogDelete: false,
      data: [
        {
          id: "0",
          userName: "Atip N.",
          nameUser: "Atip Nasakun",
          position: "Officer",
          work: "WebDev",
          update: "10/06/2564",
        },
        {
          id: "1",
          userName: "Atip1 N.",
          nameUser: "Atip1 Nasakun",
          position: "Officer",
          work: "WebDev",
          update: "17/06/2564",
        },
        {
          id: "2",
          userName: "Atip2 N.",
          nameUser: "Atip2 Nasakun",
          position: "Officer",
          work: "WebDev",
          update: "15/06/2564",
        },
        {
          id: "3",
          userName: "Atip3 N.",
          nameUser: "Atip3 Nasakun",
          position: "Officer",
          work: "WebDev",
          update: "11/06/2564",
        },
        {
          id: "4",
          userName: "Atip4 N.",
          nameUser: "Atip4 Nasakun",
          position: "Officer",
          work: "WebDev",
          update: "20/06/2564",
        },
      ],
      headers: [
        {
          text: "ID",
          align: "start",
          filterable: false,
          value: "id",
        },
        { text: "Username", value: "userName" },
        { text: "ชื่อ-นามสกุล", value: "nameUser" },
        { text: "แผนก", value: "work" },
        { text: "ตำแหน่ง", value: "position" },
        { text: "อัพเดพล่าสุด", value: "update" },
        { text: "", value: "actions", sortable: false },
      ],
      editedIndex: -1,
      editedItem: {
        id: "",
        suerName: "",
        nameUser: "",
        position: "",
        work: "",
        update: "",
      },
      defaultItem: {
        id: "",
        suerName: "",
        nameUser: "",
        position: "",
        work: "",
        update: "",
      },
    };
  },

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.data = [
        {
          id: "0",
          userName: "Atip N.",
          nameUser: "Atip Nasakun",
          position: "Officer",
          work: "Growth Dev and it Support",
          update: "10/06/2564",
        },
        {
          id: "1",
          userName: "Atip1 N.",
          nameUser: "Atip1 Nasakun",
          position: "Officer",
          work: "WebDev",
          update: "17/06/2564",
        },
        {
          id: "2",
          userName: "Atip2 N.",
          nameUser: "Atip2 Nasakun",
          position: "Officer",
          work: "WebDev",
          update: "15/06/2564",
        },
        {
          id: "3",
          userName: "Atip3 N.",
          nameUser: "Atip3 Nasakun",
          position: "Officer",
          work: "WebDev",
          update: "11/06/2564",
        },
        {
          id: "4",
          userName: "Atip4 N.",
          nameUser: "Atip4 Nasakun",
          position: "Officer",
          work: "WebDev",
          update: "20/06/2564",
        },
      ];
    },

    editItem(item) {
      this.editedIndex = this.data.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.data.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.data.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.data[this.editedIndex], this.editedItem);
      } else {
        this.data.push(this.editedItem);
      }
      this.close();
    },
  },
};
</script>