<template>
  <img
    class="VuetifyLogo"
    src="https://www.gj.mahidol.ac.th/main/wp-content/uploads/2020/04/Picture1_Covid.png"
  />
</template>

<style>
.VuetifyLogo {
  height: 960 px;
  width: 800px;
}
</style>
