<template >
  <v-card>
    <v-card-title> ข้อมูล Covid - 19 </v-card-title>
    <v-card-text>
      <v-simple-table>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left">วันที่ ปี / เดือน / วัน</th>
              <th class="text-left">จำนวนยอดผู้ติดเชื้อ</th>
              <th class="text-left">ผู้ติดเชื้อในโรงพยาบาล</th>
              <th class="text-left">เสียชีวิตแล้ว 15</th>
            </tr>
          </thead>
          <tbody>
            <tr :key="i" v-for="(data, i) in covidData">
              <th>{{ data.date }}</th>
              <th>{{ data.positive }}</th>
              <th>{{ data.death }}</th>
              <th>{{ data.hospitalizedCurrently }}</th>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn color="purple darken-4" class="btn" dark @click="Refresh">
        Refresh Page
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      covidData: [],
    };
  },
  mounted() {
    this.fetchSomething();
  },
  methods: {
    async fetchSomething() {
      this.covidDatas = await this.$axios.$get("api/v1/us/daily.json");
      this.covidData = this.covidDatas.slice(0, 30);
    },
    Refresh() {
      this.covidData = [];
      this.fetchSomething();
    },
  },
};
</script>
