อ<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="600px">
      <template v-slot:activator="{ on, attrs }">
        <v-icon icon v-bind="attrs" v-on="on">{{ icons.mdiPencil }}</v-icon>
      </template>
      <v-card>
        <v-card-title>
          <span class="text-h5">User Profile</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-text-field label="Username" required></v-text-field>
              </v-col>

              <v-col cols="12" sm="6" md="4">
                <v-text-field label="Password" required></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="12">
                <v-text-field label="ชื่อ-นามสกุล" required></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-select
                  :items="[
                    'Growth People',
                    'Growth Dev and it Support',
                    'Growth Assist',
                    'Growth Marketing',
                  ]"
                  label="แผนกงาน"
                  required
                ></v-select>
              </v-col>
              <v-col cols="12" sm="6">
                <v-select
                  :items="['Officer', 'CEO', 'Temporaly', 'Parttime']"
                  label="ตำแหน่งงาน"
                  required
                ></v-select>
              </v-col>
              <v-col cols="12" sm="6"> </v-col>
              <v-col cols="12" sm="6"> </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="blue darken-1" text @click="dialog = false">
            ปิด
          </v-btn>
          <v-btn color="blue darken-1" text @click="dialog = false">
            เเก้ไข
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { mdiAccount, mdiPencil, mdiShareVariant, mdiDelete } from "@mdi/js";

export default {
  data: () => ({
    dialog: false,
    icons: {
      mdiAccount,
      mdiPencil,
      mdiShareVariant,
      mdiDelete,
    },
  }),
};
</script>