<template>
  <v-hover v-slot="{ hover }">
    <v-card :elevation="hover ? 12 : 2" :class="{ 'on-hover': hover }">
      <v-row style="margin-top: -700px">
        <v-col cols="12" style="margin-left: 25px">
          <h1>
            <b>
              <slot></slot>
            </b>
          </h1>
        </v-col>
        <v-col cols="5" style="margin-left: 25px">
          <v-text-field
            label="กรอกชื่อ "
            outlined
            v-model="nameUser"
            @change="change"
          ></v-text-field>
        </v-col>
        <v-col cols="5" style="margin-left: 25px">
          <v-text-field
            label="กรอกนามสกุล"
            outlined
            v-model="lastname"
            @change="change"
          ></v-text-field>
        </v-col>
        <v-col cols="5" style="margin-left: 25px">
          <v-text-field
            label="อายุ"
            outlined
            v-model="age"
            @change="change"
          ></v-text-field>
        </v-col>
        <v-col cols="5" style="margin-left: 25px">
          <v-text-field
            label="จังหวัด"
            outlined
            v-model="province"
            @change="change"
          ></v-text-field>
        </v-col>
        <v-col cols="5" style="margin-left: 25px">
          <v-text-field
            label="วันที่ต้องการฉีด"
            outlined
            v-model="date"
            @change="change"
          ></v-text-field>
        </v-col>
        <v-col cols="2" style="margin-left: 230px; height: 50px">
          <v-hover v-slot="{ hover }">
            <v-card
              color="purple darken-4"
              :elevation="hover ? 12 : 2"
              :class="{ 'on-hover': hover }"
            >
              <!-- v-if="check == true"  -->
              <v-card-title @click="show" style="color: white">
                &nbsp;Submit
              </v-card-title>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
    </v-card>
  </v-hover>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: () => "Form",
    },
  },

  data() {
    return {
      sName: "",
      sLastname: "",
      sAge: "",
      sDate: "",
      sProvince: "",
      check: false,
      nameUser: "",
      lastname: "",
      age: "",
      date: "",
      province: "",
    };
  },
  mounted() {},
  methods: {
    show() {
      alert(
        "คุณ " +
          this.sName +
          " " +
          this.sLastname +
          " อายุ " +
          this.sAge +
          " อยู่จังหวัด " +
          this.sProvince +
          " ต้องการฉีดยาวันที่ " +
          this.sDate +
          "by " +
          this.title
      );
      // console.log(this.sName +"  " +this.sLastname +"  " +this.sAge +"  " +this.sProvince +"  " +this.sDate);
      // this.$emit('getdata', {
      //   fName: this.sName,
      //   sName: this.sLastname
      // })
    },
    change() {
      // if (this.nameUser === "")
      // {
      //   this.sName = null;
      //   this.check = false;
      //   return;
      // }
      // if (this.lastname === "")
      // {
      //   this.sLastname = null;
      //   this.check = false;
      //   return;
      // }
      // if (this.age === "")
      // {
      //   this.sAge = null;
      //   this.check = false;
      //   return;
      // }
      // if (this.date === "")
      // {
      //   this.sDate = null;
      //   this.check = false;
      //   return;
      // }
      // if (this.province === "")
      // {
      //   this.sProvince = null;
      //   this.check = false;
      //   return;
      // }
      this.check = true;
      this.sName = this.nameUser;
      this.sLastname = this.lastname;
      this.sAge = this.age;
      this.sDate = this.date;
      this.sProvince = this.province;
    },
  },
};
</script>
<style>
.col col-5 {
  margin-right: 50px;
}
</style>