<template >
  <v-row justify="right" align="center">
    <v-col cols="6">
      <Covid />
    </v-col>
    <v-col cols="6">
      <!-- <FormCovid :title="name" @getdata="showData" >
        <! <h2 style="color: red;">Test</h2> -->
      <!-- </FormCovid> -->
      <!-- <CovidLogo style=" padding-top: 70px;"/> -->
      <AddUser />
    </v-col>
    <v-col cols="6">
      <EditUser />
    </v-col>
  </v-row>
</template>
<script>
import Covid from "../components/Covid.vue";
import VuetifyLogo from "../components/CovidLogo.vue";
import EditUser from "../components/EditUser.vue";
// import Logo from "~/components/Logo.vue";
// import VuetifyLogo from "~/components/VuetifyLogo.vue";
export default {
  components: { VuetifyLogo, Covid, EditUser },
  // components: {
  //   Logo,
  //   VuetifyLogo,
  // },
  data() {
    return {
      name: "Mung",
      wData: 130,
      hHeight: 70,
    };
  },
  mounted() {},
  methods: {
    showData(data) {
      console.log(data);
    },
  },
};
</script>

<style>
.Text {
  color: white;
}
</style>
